:root {
    --unit: 1rem;
    --lvl1: #FC999B;
    --lvl2: #A0B5C6;
    --lvl3: #FCE09F;
    --lvl4: #C4DCB1;
    --lvl5: #F8B28C;
    --lvl6: #95D5C1;
    --lvl7: #FBC787;
}

#explorer-wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#explorer-wrapper h1,
#explorer-wrapper h2,
#explorer-wrapper h3 {
    font-size: 1rem;
    font-weight: 400;
}

#explorer-wrapper {
    display: flex;
    align-items: flex-start;
}

#explorer-wrapper .collapse-button {
    cursor: pointer;
}

#explorer-wrapper .collapse-button:not(.collapsed):after {
    content: "▾";
    float: right;
}

#explorer-wrapper .collapse-button.collapsed:after {
    content: "▸";
    float: right;
}

#explorer-wrapper #tools,
#explorer-wrapper #inspector {
    width: calc(100% / 4);
    padding: calc(1 * var(--unit));
    position: sticky;
    top: 0;
    overflow: scroll;
    height: calc(100vh);
    background-color: #E9E9E9;
}

#explorer-wrapper #tools h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: lighter;
    color: white;
    padding: 5px;
    text-align: center;
    background: none;
    background-color: #006E7F;
}

#explorer-wrapper #tools .filter {
    padding-right: 1rem;
    max-height: 16rem;
    overflow: auto;
}

#explorer-wrapper #tools .text-filter {
    margin-bottom: 0.2rem;
    width: 100%;
}

#explorer-wrapper #tools #sort-and-filters h1 {
    margin-top: 2rem;
}

#explorer-wrapper #tools span[type="button"] {
    margin-right: 1rem;
}

#explorer-wrapper #btn-wrapper {
    text-align: right;
    margin-top: 10px;
}

#explorer-wrapper #btn-wrapper span {
    text-decoration: underline;
}

#explorer-wrapper #visu {
    flex: 1;
    padding: 0 calc(1 * var(--unit));
    height: calc(100vh);
    overflow: scroll;
}

#explorer-wrapper #default-wrapper {
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}

#explorer-wrapper .hierarchical-choice-wrapper {
    display: flex;
    align-items: center;
    height: 40px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(1) {
    padding-left: 0px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(1) select {
    background-color: var(--lvl1);
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(2) {
    padding-left: 10px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(2) select {
    background-color: var(--lvl2);
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(3) {
    padding-left: 20px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(3) select {
    background-color: var(--lvl3);
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(4) {
    padding-left: 30px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(4) select {
    background-color: var(--lvl4);
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(5) {
    padding-left: 40px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(5) select {
    background-color: var(--lvl5);
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(6) {
    padding-left: 50px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(6) select {
    background-color: var(--lvl6);
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(n+7) {
    padding-left: 60px;
}

#explorer-wrapper .hierarchical-choice-wrapper:nth-child(7) select {
    background-color: var(--lvl7);
}

#explorer-wrapper select.hierarchical-choice {
    width: 100%;
    padding-left: 1rem;
    height: 2rem;
    display: flex;
    margin-left: var(--unit);
    margin-right: var(--unit);
    overflow: hidden;
}

#explorer-wrapper .level-0 {
    padding-left: 0rem;
}

#explorer-wrapper .level-0 .collapse-button {
    background-color: var(--lvl1);
}

#explorer-wrapper .level-1 {
    padding-left: 1rem;
}

#explorer-wrapper .level-1 .collapse-button {
    background-color: var(--lvl2);
}

#explorer-wrapper .level-2 {
    padding-left: 2rem;
}

#explorer-wrapper .level-2 .collapse-button {
    background-color: var(--lvl3);
}

#explorer-wrapper .level-3 {
    padding-left: 3rem;
}

#explorer-wrapper .level-3 .collapse-button {
    background-color: var(--lvl4);
}

#explorer-wrapper .level-4 {
    padding-left: 4rem;
}

#explorer-wrapper .level-4 .collapse-button {
    background-color: var(--lvl5);
}

#explorer-wrapper .level-5 {
    padding-left: 5rem;
}

#explorer-wrapper .level-5 .collapse-button {
    background-color: var(--lvl6);
}

#explorer-wrapper .level-6 {
    padding-left: 6rem;
}

#explorer-wrapper .level-6 .collapse-button {
    background-color: var(--lvl7);
}

#explorer-wrapper #add-hierarchical-choice {
    cursor: pointer;
    float: right;
    text-decoration: underline;
}

#explorer-wrapper #visu .accordion-body:not(.global) {
    border-left: 0.5px dotted grey;
    border-right: none;
}

#explorer-wrapper .accordion-body.global {
    border-right: 0.5px dotted grey;
    padding-top: 0px;
}

#explorer-wrapper .accordion-body {
    padding-right: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#explorer-wrapper .accordion-body:has(>.leaves-wrapper) {
    padding-top: 0rem;
}

#explorer-wrapper .collapse-button {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    color: black;
    background-color: lightgrey;
}

#explorer-wrapper #tools #hierarchical-choices button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    display: flex;
    width: 22px;
    height: 15px;
    padding: 0;
}

#explorer-wrapper #tools .buttons-level {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#explorer-wrapper #tools .collapse-button {
    background-color: lightgray;
    color: black;
}

#explorer-wrapper #tools .buttons-level .lvl-up::before {
    content: "";
    background-image: url('./svg/chevron_haut.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#explorer-wrapper #tools .buttons-level .lvl-down::before {
    content: "";
    background-image: url('./svg/chevron_bas.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#explorer-wrapper #tools .option-title {
    display: block;
    font-weight: bold;
}

#explorer-wrapper #tools .delete-choice {
    cursor: pointer;
    display: flex;
    width: 15px;
    aspect-ratio: 1/1;
    padding: 0;
}

#explorer-wrapper #tools .delete-choice:before {
    content: "";
    background-image: url('./svg/croix.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#explorer-wrapper #visu {
    font-family: "EBGaramond";
}

#explorer-wrapper #visu .collapse-button {
    font-size: 1.1rem;
}

#explorer-wrapper #visu .collapse-button span {
    margin-left: 1rem;
    color: grey;
}

#explorer-wrapper #visu .leave {
    padding: 0.5rem 0.2rem;
}

#explorer-wrapper #visu .leave:has(.leave-property-label) {
    padding: 0 0;
}

#explorer-wrapper #visu .leave:not(:last-child) {
    border-bottom: 0.1rem solid #006E7F;
}

#explorer-wrapper #visu .leave > a {
    margin-left: 0.1rem;
}

#explorer-wrapper #visu .leave-title {
    font-style: italic;
}

#explorer-wrapper #visu .leave div {
    display: flex;
}

#explorer-wrapper #visu .leave div .leave-property-label {
    padding-left: 12px;
    margin-right: 12px;
    display: inline-block;
    background-color: lightgray;
    min-width: 200px;
}

#explorer-wrapper #visu .leave span:not(:last-child):not(.leave-property-label):after,
#explorer-wrapper #visu .leave a:not(:last-child):after {
    content: ", "
}

#explorer-wrapper .collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
}

#explorer-wrapper .collapse.show {
    max-height: 999em;
}

#explorer-wrapper input[type="checkbox"] {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

#explorer-wrapper #filters .accordion-body {
    padding-left: 1rem;
    background-color: white;
}

#explorer-wrapper *[type="button"],
#explorer-wrapper input[type="radio"],
#explorer-wrapper input[type="checkbox"],
#explorer-wrapper label {
    cursor: pointer;
}

#explorer-wrapper *[type="button"]{
    cursor: pointer;
    text-decoration: underline;
}

#explorer-wrapper .option-block {
    margin-bottom: 0.5rem;
}

#explorer-wrapper .option-block span {
    margin-right: .3rem;
    display: inline-block;
    min-width: 30%;
}

#explorer-wrapper .option-block span label {
    margin-left: .2rem;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    height: 100%;
    width: 100%;
    display: block;
}

#modal-content {
    border-top: 15px solid var(--lvl1);
    border-right: 15px solid var(--lvl2);
    border-bottom: 15px solid var(--lvl3);
    border-left: 15px solid var(--lvl4);
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    padding: 5%;
}